Flask==3.0.3
numpy==2.1.0
tensorflow==2.19.0
keras==3.10.0
gdown==5.2.0
pillow==10.4.0
Werkzeug==3.0.4
requests==2.32.4
protobuf==5.29.5
absl-py==2.3.0

# Optional for visuals/debug (keep only if used in code)
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.7.0
